@media only screen and (min-width: 600px) {
  /* line 4, ../../sass/modules/_buttons.scss */
  button,
  .button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
    -moz-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
    box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
    margin-right: 5px;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-appearance: none;
    border: 3px #383838 solid;
    background: #92cbff;
    cursor: pointer;
    padding: 2px 4px;
    margin-bottom: 1em;
  }
  /* line 21, ../../sass/modules/_buttons.scss */
  button:hover, button:focus,
  .button:hover,
  .button:focus {
    background: #4e90cc;
  }
  /* line 25, ../../sass/modules/_buttons.scss */
  button:active,
  .button:active {
    top: 5px;
    left: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 3, ../../sass/modules/_typography.scss */
  html {
    font-size: 90%;
    font-family: 'Ubuntu Mono', sans-serif;
    color: #383838;
  }
  /* line 7, ../../sass/modules/_typography.scss */
  html * {
    line-height: 1.4em;
  }

  /* line 12, ../../sass/modules/_typography.scss */
  h1 {
    font-size: 14.4px;
    font-size: 1.6rem;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1em;
  }

  /* line 18, ../../sass/modules/_typography.scss */
  h2 {
    font-size: 10.8px;
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1em;
  }

  /* line 24, ../../sass/modules/_typography.scss */
  h3 {
    font-size: 9px;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1em;
  }

  /* line 30, ../../sass/modules/_typography.scss */
  strong {
    font-weight: bold;
  }

  /* line 34, ../../sass/modules/_typography.scss */
  em {
    font-style: italic;
  }

  /* line 38, ../../sass/modules/_typography.scss */
  p {
    font-size: 10.8px;
    font-size: 1.2rem;
    margin-bottom: 1em;
  }

  /* line 43, ../../sass/modules/_typography.scss */
  a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #383838;
    background: #92cbff;
    text-decoration: none;
    padding: 0.2em 0.1em;
  }
  /* line 54, ../../sass/modules/_typography.scss */
  a:hover, a:focus, a:active {
    background: #4e90cc;
  }

  /* line 59, ../../sass/modules/_typography.scss */
  button, .button {
    font-family: 'Press Start 2P', cursive;
  }

  /* line 63, ../../sass/modules/_typography.scss */
  .copyright_symbol {
    font-size: 1.5em;
  }

  /* line 3, ../../sass/pages/default/_600.scss */
  #logo {
    font-size: 18px;
    font-size: 2rem;
    background-size: 60px 96px;
    min-width: 60px;
    min-height: 96px;
    padding-left: 76px;
    line-height: 96px;
  }

  /* line 2, ../../sass/pages/home/_600.scss */
  #home_page #intro {
    margin-left: 50px;
  }
}
