/* line 5, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/modules/_typography.scss */
html {
  font-size: 90%;
  font-family: 'Ubuntu Mono', sans-serif;
  color: #383838;
}
/* line 5, ../../sass/modules/_typography.scss */
html * {
  line-height: 1.4em;
}

/* line 10, ../../sass/modules/_typography.scss */
h1 {
  font-size: 14.4px;
  font-size: 1.6rem;
  font-family: 'Press Start 2P', cursive;
  margin: 0 0 1em 0;
}

/* line 16, ../../sass/modules/_typography.scss */
h2 {
  font-size: 10.8px;
  font-size: 1.2rem;
  font-family: 'Press Start 2P', cursive;
  margin: 0 0 1em 0;
}

/* line 22, ../../sass/modules/_typography.scss */
h3 {
  font-size: 9px;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  margin: 0 0 1em 0;
}

/* line 28, ../../sass/modules/_typography.scss */
strong {
  font-weight: bold;
}

/* line 32, ../../sass/modules/_typography.scss */
em {
  font-style: italic;
}

/* line 36, ../../sass/modules/_typography.scss */
p {
  font-size: 10.8px;
  font-size: 1.2rem;
  margin: 0 0 1em 0;
}

/* line 41, ../../sass/modules/_typography.scss */
a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #383838;
  background: #ff7388;
  text-decoration: none;
  padding: 0.2em 0.1em;
}
/* line 50, ../../sass/modules/_typography.scss */
a:hover, a:focus, a:active {
  background: #e33d2b;
}
/* line 56, ../../sass/modules/_typography.scss */
#logo a {
  background: #92cbff;
}
/* line 58, ../../sass/modules/_typography.scss */
#logo a:hover, #logo a:focus, #logo a:active {
  background: #4e90cc;
}

/* line 66, ../../sass/modules/_typography.scss */
ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 1px 0px #bebebe, 2px 2px 0px #bebebe, 3px 3px 0px #bebebe, 4px 4px 0px #bebebe, 5px 5px 0px #bebebe;
  -webkit-box-shadow: 1px 1px 0px #bebebe, 2px 2px 0px #bebebe, 3px 3px 0px #bebebe, 4px 4px 0px #bebebe, 5px 5px 0px #bebebe;
  box-shadow: 1px 1px 0px #bebebe, 2px 2px 0px #bebebe, 3px 3px 0px #bebebe, 4px 4px 0px #bebebe, 5px 5px 0px #bebebe;
  margin-right: 5px;
  max-width: 306px;
  background: white;
  margin-bottom: 2rem;
}
/* line 74, ../../sass/modules/_typography.scss */
ul li {
  list-style: square;
  margin-left: 1.4em;
}

/* line 80, ../../sass/modules/_typography.scss */
button, .button, .large_button, #contact_me .button, #about_me_link .button, #about_page #about_me #work_link, .back_button, #side_projects .button, #work_page .project_link a {
  font-family: 'Press Start 2P', cursive;
}

/* line 84, ../../sass/modules/_typography.scss */
.copyright_symbol {
  font-size: 1.5em;
  line-height: 1.1em;
}

/* line 89, ../../sass/modules/_typography.scss */
#about_me_link h2, #about_page #about_me h2, #spotify_page section h2, #contact_me h2, #side_projects h2 {
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  padding: 4px 8px;
  text-align: center;
}

/* line 95, ../../sass/modules/_typography.scss */
#about_me_link h2, #about_page #about_me h2 {
  -moz-box-shadow: 1px 1px 0px #e33d2b, 2px 2px 0px #e33d2b, 3px 3px 0px #e33d2b, 4px 4px 0px #e33d2b, 5px 5px 0px #e33d2b;
  -webkit-box-shadow: 1px 1px 0px #e33d2b, 2px 2px 0px #e33d2b, 3px 3px 0px #e33d2b, 4px 4px 0px #e33d2b, 5px 5px 0px #e33d2b;
  box-shadow: 1px 1px 0px #e33d2b, 2px 2px 0px #e33d2b, 3px 3px 0px #e33d2b, 4px 4px 0px #e33d2b, 5px 5px 0px #e33d2b;
  margin-right: 5px;
  background: #ff7388;
}
/* line 100, ../../sass/modules/_typography.scss */
#about_me_link h2:hover, #about_page #about_me h2:hover, #about_me_link h2:focus, #about_page #about_me h2:focus {
  background: #e33d2b;
}

/* line 106, ../../sass/modules/_typography.scss */
#spotify_page section h2, #contact_me h2 {
  -moz-box-shadow: 1px 1px 0px #4e90cc, 2px 2px 0px #4e90cc, 3px 3px 0px #4e90cc, 4px 4px 0px #4e90cc, 5px 5px 0px #4e90cc;
  -webkit-box-shadow: 1px 1px 0px #4e90cc, 2px 2px 0px #4e90cc, 3px 3px 0px #4e90cc, 4px 4px 0px #4e90cc, 5px 5px 0px #4e90cc;
  box-shadow: 1px 1px 0px #4e90cc, 2px 2px 0px #4e90cc, 3px 3px 0px #4e90cc, 4px 4px 0px #4e90cc, 5px 5px 0px #4e90cc;
  margin-right: 5px;
  background: #92cbff;
}
/* line 111, ../../sass/modules/_typography.scss */
#spotify_page section h2:hover, #contact_me h2:hover, #spotify_page section h2:focus, #contact_me h2:focus {
  background: #4e90cc;
}

/* line 117, ../../sass/modules/_typography.scss */
#side_projects h2 {
  -moz-box-shadow: 1px 1px 0px #ebd213, 2px 2px 0px #ebd213, 3px 3px 0px #ebd213, 4px 4px 0px #ebd213, 5px 5px 0px #ebd213;
  -webkit-box-shadow: 1px 1px 0px #ebd213, 2px 2px 0px #ebd213, 3px 3px 0px #ebd213, 4px 4px 0px #ebd213, 5px 5px 0px #ebd213;
  box-shadow: 1px 1px 0px #ebd213, 2px 2px 0px #ebd213, 3px 3px 0px #ebd213, 4px 4px 0px #ebd213, 5px 5px 0px #ebd213;
  margin-right: 5px;
  background: #fff28a;
}
/* line 122, ../../sass/modules/_typography.scss */
#side_projects h2:hover, #side_projects h2:focus {
  background: #ebd213;
}

/* line 1, ../../sass/modules/_buttons.scss */
button,
.button,
.large_button,
#contact_me .button,
#about_me_link .button,
#about_page #about_me #work_link,
.back_button,
#side_projects .button,
#work_page .project_link a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  -webkit-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  margin-right: 5px;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-appearance: none;
  border: 3px #383838 solid;
  background: #92cbff;
  cursor: pointer;
  padding: 2px 24px 2px 4px;
  margin-bottom: 1em;
  width: 300px;
  top: 0;
  left: 0;
}
/* line 24, ../../sass/modules/_buttons.scss */
button:hover, button:focus,
.button:hover,
.large_button:hover,
#contact_me .button:hover,
#about_me_link .button:hover,
#about_page #about_me #work_link:hover,
.back_button:hover,
#side_projects .button:hover,
#work_page .project_link a:hover,
.button:focus,
.large_button:focus,
#contact_me .button:focus,
#about_me_link .button:focus,
#about_page #about_me #work_link:focus,
.back_button:focus,
#side_projects .button:focus,
#work_page .project_link a:focus {
  background: #4e90cc;
}
/* line 29, ../../sass/modules/_buttons.scss */
button:active,
.button:active,
.large_button:active,
#contact_me .button:active,
#about_me_link .button:active,
#about_page #about_me #work_link:active,
.back_button:active,
#side_projects .button:active,
#work_page .project_link a:active {
  top: 5px;
  left: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 36, ../../sass/modules/_buttons.scss */
button:after,
.button:after,
.large_button:after,
#contact_me .button:after,
#about_me_link .button:after,
#about_page #about_me #work_link:after,
.back_button:after,
#side_projects .button:after,
#work_page .project_link a:after {
  content: ">";
  position: absolute;
  bottom: calc(50% - 0.75em);
  right: 5px;
}

/* line 44, ../../sass/modules/_buttons.scss */
.large_button, #contact_me .button, #contact_me .back_button, #contact_me #work_page .project_link a, #work_page .project_link #contact_me a, #about_me_link .button, #about_me_link .back_button, #about_me_link #work_page .project_link a, #work_page .project_link #about_me_link a, #about_page #about_me #work_link {
  font-size: 12.6px;
  font-size: 1.4rem;
  padding: 5px 30px 5px 10px;
}

/* line 52, ../../sass/modules/_buttons.scss */
#about_me_link .large_button, #about_me_link .button, #about_me_link .back_button, #about_me_link #work_page .project_link a, #work_page .project_link #about_me_link a, #about_page #about_me #work_link {
  background: #ff7388;
}
/* line 56, ../../sass/modules/_buttons.scss */
#about_me_link .large_button:hover, #about_me_link .button:hover, #about_me_link .back_button:hover, #about_me_link #work_page .project_link a:hover, #work_page .project_link #about_me_link a:hover, #about_page #about_me #work_link:hover, #about_me_link .large_button:focus, #about_me_link .button:focus, #about_me_link .back_button:focus, #about_me_link #work_page .project_link a:focus, #work_page .project_link #about_me_link a:focus, #about_page #about_me #work_link:focus {
  background: #e33d2b;
}

/* line 62, ../../sass/modules/_buttons.scss */
.back_button, #side_projects .button, #side_projects .large_button, #side_projects #about_page #about_me #work_link, #about_page #about_me #side_projects #work_link, #side_projects #work_page .project_link a, #work_page .project_link #side_projects a {
  background: #fff28a;
}
/* line 66, ../../sass/modules/_buttons.scss */
.back_button:hover, #side_projects .button:hover, #side_projects .large_button:hover, #side_projects #about_page #about_me #work_link:hover, #about_page #about_me #side_projects #work_link:hover, #side_projects #work_page .project_link a:hover, #work_page .project_link #side_projects a:hover, .back_button:focus, #side_projects .button:focus, #side_projects .large_button:focus, #side_projects #about_page #about_me #work_link:focus, #about_page #about_me #side_projects #work_link:focus, #side_projects #work_page .project_link a:focus, #work_page .project_link #side_projects a:focus {
  background: #ebd213;
}

/* line 76, ../../sass/modules/_buttons.scss */
.back_button {
  padding-left: 24px;
  padding-right: 4px;
}
/* line 82, ../../sass/modules/_buttons.scss */
.back_button:after {
  content: "<";
  position: absolute;
  bottom: calc(50% - 0.75em);
  left: 5px;
}

/* line 1, ../../sass/pages/_default.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #bfe2ff;
  min-height: 100%;
}
/* line 7, ../../sass/pages/_default.scss */
html.loading {
  -moz-transition: background 1s;
  -o-transition: background 1s;
  -webkit-transition: background 1s;
  transition: background 1s;
}
/* line 10, ../../sass/pages/_default.scss */
html.loading .wrapper {
  -moz-transform: translateX(4000px);
  -ms-transform: translateX(4000px);
  -webkit-transform: translateX(4000px);
  transform: translateX(4000px);
}
/* line 14, ../../sass/pages/_default.scss */
html.loading .cloud {
  -moz-transform: translateX(-2000px);
  -ms-transform: translateX(-2000px);
  -webkit-transform: translateX(-2000px);
  transform: translateX(-2000px);
}
/* line 18, ../../sass/pages/_default.scss */
html.loading:after {
  content: "LOADING";
  position: absolute;
  font-size: 22.5px;
  font-size: 2.5rem;
  font-family: 'Press Start 2P', cursive;
  top: calc(50% - 0.5em);
  width: 100%;
  text-align: center;
  color: #ebd213;
  text-shadow: -1px -1px 0px black 1px -1px 0px black -1px 1px 0px black 1px 0 0px black;
  text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black, 1px 0 0px black, -1px 0 0px black, 0 1px 0px black, 0 -1px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black, 2px 0 0px black, -2px 0 0px black, 0 2px 0px black, 0 -2px 0px black, -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black, 3px 3px 0px black, 3px 0 0px black, -3px 0 0px black, 0 3px 0px black, 0 -3px 0px black, -4px -4px 0px black, 4px -4px 0px black, -4px 4px 0px black, 4px 4px 0px black, 4px 0 0px black, -4px 0 0px black, 0 4px 0px black, 0 -4px 0px black, -5px -5px 0px black, 5px -5px 0px black, -5px 5px 0px black, 5px 5px 0px black, 5px 0 0px black, -5px 0 0px black, 0 5px 0px black, 0 -5px 0px black;
}
/* line 31, ../../sass/pages/_default.scss */
html.loaded {
  -moz-transition: background 1s;
  -o-transition: background 1s;
  -webkit-transition: background 1s;
  transition: background 1s;
  background: #bfe2ff;
}

/* line 37, ../../sass/pages/_default.scss */
footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 -5px 0 #459300, 0 -10px 0 #5fb811, 0 -15px 0 #78e815;
  -webkit-box-shadow: 0 -5px 0 #459300, 0 -10px 0 #5fb811, 0 -15px 0 #78e815;
  box-shadow: 0 -5px 0 #459300, 0 -10px 0 #5fb811, 0 -15px 0 #78e815;
  position: fixed;
  bottom: 0;
  padding: 0 0.5em;
  width: 100%;
  background: #804901;
  border-top: 10px #a35c00 solid;
  color: white;
}
/* line 52, ../../sass/pages/_default.scss */
footer .copyright {
  float: right;
  line-height: 1.1em;
}

/* line 59, ../../sass/pages/_default.scss */
figure a {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
}
/* line 66, ../../sass/pages/_default.scss */
figure a:hover, figure a:active, figure a:focus {
  background: none;
}

/* line 75, ../../sass/pages/_default.scss */
.video_wrapper video, .video_wrapper img, figure video, figure img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  -webkit-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  margin-right: 5px;
  background: #383838;
  border: 3px solid #383838;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
}
@media (min-width: 960px) {
  /* line 75, ../../sass/pages/_default.scss */
  .video_wrapper video, .video_wrapper img, figure video, figure img {
    margin-bottom: 2em;
  }
}

/* line 90, ../../sass/pages/_default.scss */
.wrapper {
  overflow: hidden;
  *zoom: 1;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 3rem;
  position: relative;
  padding: 0.5rem;
}
@media (min-width: 360px) {
  /* line 90, ../../sass/pages/_default.scss */
  .wrapper {
    max-width: 90%;
  }
}
@media (min-width: 1280px) {
  /* line 90, ../../sass/pages/_default.scss */
  .wrapper {
    max-width: 1200px;
  }
}

/* line 108, ../../sass/pages/_default.scss */
#logo {
  background: url("../images/avatar.png") left center no-repeat;
  background-size: 40px 64px;
  min-width: 40px;
  min-height: 64px;
  padding-left: 56px;
  line-height: 64px;
  margin-bottom: 1rem;
}
/* line 128, ../../sass/pages/_default.scss */
#logo a {
  -moz-box-shadow: 1px 1px 0px #4e90cc, 2px 2px 0px #4e90cc, 3px 3px 0px #4e90cc, 4px 4px 0px #4e90cc, 5px 5px 0px #4e90cc, 6px 6px 0px #4e90cc, 7px 7px 0px #4e90cc, 8px 8px 0px #4e90cc, 9px 9px 0px #4e90cc, 10px 10px 0px #4e90cc;
  -webkit-box-shadow: 1px 1px 0px #4e90cc, 2px 2px 0px #4e90cc, 3px 3px 0px #4e90cc, 4px 4px 0px #4e90cc, 5px 5px 0px #4e90cc, 6px 6px 0px #4e90cc, 7px 7px 0px #4e90cc, 8px 8px 0px #4e90cc, 9px 9px 0px #4e90cc, 10px 10px 0px #4e90cc;
  box-shadow: 1px 1px 0px #4e90cc, 2px 2px 0px #4e90cc, 3px 3px 0px #4e90cc, 4px 4px 0px #4e90cc, 5px 5px 0px #4e90cc, 6px 6px 0px #4e90cc, 7px 7px 0px #4e90cc, 8px 8px 0px #4e90cc, 9px 9px 0px #4e90cc, 10px 10px 0px #4e90cc;
  margin-right: 10px;
}
@media (min-width: 600px) {
  /* line 108, ../../sass/pages/_default.scss */
  #logo {
    font-size: 18px;
    font-size: 2rem;
    background-size: 60px 96px;
    min-width: 60px;
    min-height: 96px;
    padding-left: 76px;
    line-height: 96px;
  }
}

/* line 153, ../../sass/pages/_default.scss */
.cloud {
  display: none;
}
@media (min-width: 600px) {
  /* line 153, ../../sass/pages/_default.scss */
  .cloud {
    -moz-transition: -moz-transform 2s;
    -o-transition: -o-transform 2s;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    position: fixed;
    display: block;
  }
  /* line 161, ../../sass/pages/_default.scss */
  .cloud div {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
  }
}

/* line 168, ../../sass/pages/_default.scss */
#intro, #intro_addendum {
  font-size: 9px;
  font-size: 1rem;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  -webkit-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  margin-right: 5px;
  background: white;
  border: 3px #383838 solid;
  padding: 1em;
  position: relative;
  margin: 0 6px 2em 34px;
  max-width: 600px;
  display: inline-block;
}
/* line 67, ../../sass/helpers/_utilities.scss */
#intro:before, #intro_addendum:before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -3px;
  width: 0;
  height: 0;
  border: 10px #383838 solid;
  border-top-color: transparent;
  border-right-color: transparent;
}
/* line 80, ../../sass/helpers/_utilities.scss */
#intro:after, #intro_addendum:after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
  width: 0;
  height: 0;
  border: 7px white solid;
  border-top-color: transparent;
  border-right-color: transparent;
}
@media (min-width: 600px) {
  /* line 168, ../../sass/pages/_default.scss */
  #intro, #intro_addendum {
    font-size: 10.8px;
    font-size: 1.2rem;
    margin-left: 50px;
  }
}

/* line 182, ../../sass/pages/_default.scss */
#intro_addendum {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  -webkit-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  margin-right: 5px;
  background: white;
  border: 3px #383838 solid;
  padding: 1em;
  position: relative;
  display: block;
}
/* line 67, ../../sass/helpers/_utilities.scss */
#intro_addendum:before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -3px;
  width: 0;
  height: 0;
  border: 10px #383838 solid;
  border-top-color: transparent;
  border-right-color: transparent;
}
/* line 80, ../../sass/helpers/_utilities.scss */
#intro_addendum:after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
  width: 0;
  height: 0;
  border: 7px white solid;
  border-top-color: transparent;
  border-right-color: transparent;
}
/* line 97, ../../sass/helpers/_utilities.scss */
#intro_addendum:before {
  top: -35px;
  left: 17px;
  border: 5px #383838 solid;
  border-right-width: 15px;
  border-top-width: 30px;
}
/* line 105, ../../sass/helpers/_utilities.scss */
#intro_addendum:after {
  top: -41px;
  left: 20px;
  border: 5px white solid;
  border-top-width: 36px;
}

/* line 189, ../../sass/pages/_default.scss */
section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
  width: 100%;
}
@media (min-width: 960px) {
  /* line 189, ../../sass/pages/_default.scss */
  section {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  /* line 118, ../../sass/helpers/_utilities.scss */
  section:nth-of-type(even) {
    margin-right: 0;
    margin-left: 2%;
  }
  /* line 197, ../../sass/pages/_default.scss */
  section.double_column {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 202, ../../sass/pages/_default.scss */
  section.double_column .sub_column {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  /* line 118, ../../sass/helpers/_utilities.scss */
  section.double_column .sub_column:nth-of-type(even) {
    margin-right: 0;
    margin-left: 2%;
  }
  /* line 206, ../../sass/pages/_default.scss */
  section.double_column + section {
    margin-left: 0;
    margin-right: 2%;
  }
}

/* line 221, ../../sass/pages/_default.scss */
#side_projects h2 {
  clear: both;
}

/* line 231, ../../sass/pages/_default.scss */
#contact_me {
  margin-bottom: 2em;
}

/* line 243, ../../sass/pages/_default.scss */
#about_me_link {
  margin-bottom: 2em;
}

@media (min-width: 960px) {
  /* line 256, ../../sass/pages/_default.scss */
  #about_me_link + #contact_me,
  #contact_me + #about_me_link {
    margin-left: 2%;
    margin-right: 0;
  }
}

/* line 2, ../../sass/pages/work/_default.scss */
#work_page section {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  /* line 6, ../../sass/pages/work/_default.scss */
  #work_page section figure {
    position: relative;
    margin: auto;
    max-width: 480px;
  }
  /* line 12, ../../sass/pages/work/_default.scss */
  #work_page section.double_column figure {
    max-width: none;
  }
}
@media (min-width: 960px) {
  /* line 18, ../../sass/pages/work/_default.scss */
  #work_page section figure {
    max-width: none;
  }
}
/* line 24, ../../sass/pages/work/_default.scss */
#work_page .project_link {
  margin-bottom: 1.6rem;
}
/* line 27, ../../sass/pages/work/_default.scss */
#work_page .project_link a {
  height: 8em;
  width: auto;
  position: relative;
  display: block;
  padding: 1em;
  background: white;
  margin-bottom: 0;
  -moz-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  -webkit-box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  box-shadow: 1px 1px 0px #383838, 2px 2px 0px #383838, 3px 3px 0px #383838, 4px 4px 0px #383838, 5px 5px 0px #383838;
  margin-right: 5px;
  border-color: #383838;
  background: white;
}
/* line 21, ../../sass/helpers/_utilities.scss */
#work_page .project_link a h2, #work_page .project_link a h3 {
  color: #383838;
}
/* line 25, ../../sass/helpers/_utilities.scss */
#work_page .project_link a:hover, #work_page .project_link a:focus {
  background: #eff1f0;
}
/* line 30, ../../sass/helpers/_utilities.scss */
#work_page .project_link a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/helpers/_utilities.scss */
#work_page .project_link a:after {
  font-size: 14.4px;
  font-size: 1.6rem;
  color: #383838;
  bottom: 1rem;
  right: 0.5rem;
}
/* line 41, ../../sass/pages/work/_default.scss */
#work_page .project_link h3 {
  margin-bottom: 0;
  position: absolute;
  bottom: 1em;
  left: 1em;
}
/* line 48, ../../sass/pages/work/_default.scss */
#work_page .project_link#nivea_link a {
  -moz-box-shadow: 1px 1px 0px #733f87, 2px 2px 0px #733f87, 3px 3px 0px #733f87, 4px 4px 0px #733f87, 5px 5px 0px #733f87;
  -webkit-box-shadow: 1px 1px 0px #733f87, 2px 2px 0px #733f87, 3px 3px 0px #733f87, 4px 4px 0px #733f87, 5px 5px 0px #733f87;
  box-shadow: 1px 1px 0px #733f87, 2px 2px 0px #733f87, 3px 3px 0px #733f87, 4px 4px 0px #733f87, 5px 5px 0px #733f87;
  margin-right: 5px;
  border-color: #733f87;
  background: #09508f;
}
/* line 21, ../../sass/helpers/_utilities.scss */
#work_page .project_link#nivea_link a h2, #work_page .project_link#nivea_link a h3 {
  color: white;
}
/* line 25, ../../sass/helpers/_utilities.scss */
#work_page .project_link#nivea_link a:hover, #work_page .project_link#nivea_link a:focus {
  background: #002d6e;
}
/* line 30, ../../sass/helpers/_utilities.scss */
#work_page .project_link#nivea_link a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/helpers/_utilities.scss */
#work_page .project_link#nivea_link a:after {
  font-size: 14.4px;
  font-size: 1.6rem;
  color: white;
  bottom: 1rem;
  right: 0.5rem;
}
/* line 52, ../../sass/pages/work/_default.scss */
#work_page .project_link#nivea_soft_link a {
  -moz-box-shadow: 1px 1px 0px #0175b0, 2px 2px 0px #0175b0, 3px 3px 0px #0175b0, 4px 4px 0px #0175b0, 5px 5px 0px #0175b0;
  -webkit-box-shadow: 1px 1px 0px #0175b0, 2px 2px 0px #0175b0, 3px 3px 0px #0175b0, 4px 4px 0px #0175b0, 5px 5px 0px #0175b0;
  box-shadow: 1px 1px 0px #0175b0, 2px 2px 0px #0175b0, 3px 3px 0px #0175b0, 4px 4px 0px #0175b0, 5px 5px 0px #0175b0;
  margin-right: 5px;
  border-color: #0175b0;
  background: white;
}
/* line 21, ../../sass/helpers/_utilities.scss */
#work_page .project_link#nivea_soft_link a h2, #work_page .project_link#nivea_soft_link a h3 {
  color: #09508f;
}
/* line 25, ../../sass/helpers/_utilities.scss */
#work_page .project_link#nivea_soft_link a:hover, #work_page .project_link#nivea_soft_link a:focus {
  background: #e1e1e1;
}
/* line 30, ../../sass/helpers/_utilities.scss */
#work_page .project_link#nivea_soft_link a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/helpers/_utilities.scss */
#work_page .project_link#nivea_soft_link a:after {
  font-size: 14.4px;
  font-size: 1.6rem;
  color: #09508f;
  bottom: 1rem;
  right: 0.5rem;
}
/* line 56, ../../sass/pages/work/_default.scss */
#work_page .project_link#tropicana_link a {
  -moz-box-shadow: 1px 1px 0px #017717, 2px 2px 0px #017717, 3px 3px 0px #017717, 4px 4px 0px #017717, 5px 5px 0px #017717;
  -webkit-box-shadow: 1px 1px 0px #017717, 2px 2px 0px #017717, 3px 3px 0px #017717, 4px 4px 0px #017717, 5px 5px 0px #017717;
  box-shadow: 1px 1px 0px #017717, 2px 2px 0px #017717, 3px 3px 0px #017717, 4px 4px 0px #017717, 5px 5px 0px #017717;
  margin-right: 5px;
  border-color: #017717;
  background: #e48102;
}
/* line 21, ../../sass/helpers/_utilities.scss */
#work_page .project_link#tropicana_link a h2, #work_page .project_link#tropicana_link a h3 {
  color: white;
}
/* line 25, ../../sass/helpers/_utilities.scss */
#work_page .project_link#tropicana_link a:hover, #work_page .project_link#tropicana_link a:focus {
  background: #e54000;
}
/* line 30, ../../sass/helpers/_utilities.scss */
#work_page .project_link#tropicana_link a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/helpers/_utilities.scss */
#work_page .project_link#tropicana_link a:after {
  font-size: 14.4px;
  font-size: 1.6rem;
  color: white;
  bottom: 1rem;
  right: 0.5rem;
}
/* line 60, ../../sass/pages/work/_default.scss */
#work_page .project_link#disney_link a {
  -moz-box-shadow: 1px 1px 0px #ffc409, 2px 2px 0px #ffc409, 3px 3px 0px #ffc409, 4px 4px 0px #ffc409, 5px 5px 0px #ffc409;
  -webkit-box-shadow: 1px 1px 0px #ffc409, 2px 2px 0px #ffc409, 3px 3px 0px #ffc409, 4px 4px 0px #ffc409, 5px 5px 0px #ffc409;
  box-shadow: 1px 1px 0px #ffc409, 2px 2px 0px #ffc409, 3px 3px 0px #ffc409, 4px 4px 0px #ffc409, 5px 5px 0px #ffc409;
  margin-right: 5px;
  border-color: #ffc409;
  background: black;
}
/* line 21, ../../sass/helpers/_utilities.scss */
#work_page .project_link#disney_link a h2, #work_page .project_link#disney_link a h3 {
  color: #ec1b21;
}
/* line 25, ../../sass/helpers/_utilities.scss */
#work_page .project_link#disney_link a:hover, #work_page .project_link#disney_link a:focus {
  background: #1d1d1d;
}
/* line 30, ../../sass/helpers/_utilities.scss */
#work_page .project_link#disney_link a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/helpers/_utilities.scss */
#work_page .project_link#disney_link a:after {
  font-size: 14.4px;
  font-size: 1.6rem;
  color: #ec1b21;
  bottom: 1rem;
  right: 0.5rem;
}
/* line 64, ../../sass/pages/work/_default.scss */
#work_page .project_link#smirnoff_link a {
  -moz-box-shadow: 1px 1px 0px #8e1025, 2px 2px 0px #8e1025, 3px 3px 0px #8e1025, 4px 4px 0px #8e1025, 5px 5px 0px #8e1025;
  -webkit-box-shadow: 1px 1px 0px #8e1025, 2px 2px 0px #8e1025, 3px 3px 0px #8e1025, 4px 4px 0px #8e1025, 5px 5px 0px #8e1025;
  box-shadow: 1px 1px 0px #8e1025, 2px 2px 0px #8e1025, 3px 3px 0px #8e1025, 4px 4px 0px #8e1025, 5px 5px 0px #8e1025;
  margin-right: 5px;
  border-color: #8e1025;
  background: #eff1f0;
}
/* line 21, ../../sass/helpers/_utilities.scss */
#work_page .project_link#smirnoff_link a h2, #work_page .project_link#smirnoff_link a h3 {
  color: #383838;
}
/* line 25, ../../sass/helpers/_utilities.scss */
#work_page .project_link#smirnoff_link a:hover, #work_page .project_link#smirnoff_link a:focus {
  background: #e1e1e1;
}
/* line 30, ../../sass/helpers/_utilities.scss */
#work_page .project_link#smirnoff_link a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/helpers/_utilities.scss */
#work_page .project_link#smirnoff_link a:after {
  font-size: 14.4px;
  font-size: 1.6rem;
  color: #383838;
  bottom: 1rem;
  right: 0.5rem;
}
/* line 68, ../../sass/pages/work/_default.scss */
#work_page .project_link#fire_eater_link a {
  -moz-box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black, 5px 5px 0px black;
  -webkit-box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black, 5px 5px 0px black;
  box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black, 5px 5px 0px black;
  margin-right: 5px;
  border-color: black;
  background: #dc041d;
}
/* line 21, ../../sass/helpers/_utilities.scss */
#work_page .project_link#fire_eater_link a h2, #work_page .project_link#fire_eater_link a h3 {
  color: white;
}
/* line 25, ../../sass/helpers/_utilities.scss */
#work_page .project_link#fire_eater_link a:hover, #work_page .project_link#fire_eater_link a:focus {
  background: #b70000;
}
/* line 30, ../../sass/helpers/_utilities.scss */
#work_page .project_link#fire_eater_link a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/helpers/_utilities.scss */
#work_page .project_link#fire_eater_link a:after {
  font-size: 14.4px;
  font-size: 1.6rem;
  color: white;
  bottom: 1rem;
  right: 0.5rem;
}
/* line 72, ../../sass/pages/work/_default.scss */
#work_page .project_link#jack_daniels_link a {
  -moz-box-shadow: 1px 1px 0px #c77d01, 2px 2px 0px #c77d01, 3px 3px 0px #c77d01, 4px 4px 0px #c77d01, 5px 5px 0px #c77d01;
  -webkit-box-shadow: 1px 1px 0px #c77d01, 2px 2px 0px #c77d01, 3px 3px 0px #c77d01, 4px 4px 0px #c77d01, 5px 5px 0px #c77d01;
  box-shadow: 1px 1px 0px #c77d01, 2px 2px 0px #c77d01, 3px 3px 0px #c77d01, 4px 4px 0px #c77d01, 5px 5px 0px #c77d01;
  margin-right: 5px;
  border-color: #c77d01;
  background: #242426;
}
/* line 21, ../../sass/helpers/_utilities.scss */
#work_page .project_link#jack_daniels_link a h2, #work_page .project_link#jack_daniels_link a h3 {
  color: white;
}
/* line 25, ../../sass/helpers/_utilities.scss */
#work_page .project_link#jack_daniels_link a:hover, #work_page .project_link#jack_daniels_link a:focus {
  background: #070609;
}
/* line 30, ../../sass/helpers/_utilities.scss */
#work_page .project_link#jack_daniels_link a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, ../../sass/helpers/_utilities.scss */
#work_page .project_link#jack_daniels_link a:after {
  font-size: 14.4px;
  font-size: 1.6rem;
  color: white;
  bottom: 1rem;
  right: 0.5rem;
}
@media (min-width: 600px) {
  /* line 24, ../../sass/pages/work/_default.scss */
  #work_page .project_link {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  /* line 82, ../../sass/pages/work/_default.scss */
  #work_page .project_link:nth-child(even) {
    margin-right: 0;
    margin-left: 2%;
  }
}
@media (min-width: 960px) {
  /* line 24, ../../sass/pages/work/_default.scss */
  #work_page .project_link {
    width: 100%;
    margin-right: 0;
  }
  /* line 92, ../../sass/pages/work/_default.scss */
  #work_page .project_link:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  /* line 24, ../../sass/pages/work/_default.scss */
  #work_page .project_link {
    width: 48%;
    margin-right: 2%;
  }
  /* line 102, ../../sass/pages/work/_default.scss */
  #work_page .project_link:nth-child(even) {
    margin-right: 0;
    margin-left: 2%;
  }
}
@media (min-width: 600px) {
  /* line 109, ../../sass/pages/work/_default.scss */
  #work_page #project_list {
    overflow: hidden;
    *zoom: 1;
  }
}
/* line 115, ../../sass/pages/work/_default.scss */
#work_page #side_projects,
#work_page #contact_me,
#work_page #about_me_link {
  margin-bottom: 2em;
}
@media (min-width: 960px) {
  /* line 121, ../../sass/pages/work/_default.scss */
  #work_page .contact_me_wrapper {
    clear: left;
  }
}
