@mixin work_page_600() {

	#project_list {
		@include clearfix;
	}

	.project_link {
		float:left;
		width:48%;
		margin-right:2%;

		&:nth-child(even) {
			margin-right: 0;
			margin-left: 2%;
		}
	}
}