#work_page {
	section {
		margin-bottom:0;

		@include breakpoint($tablet) {
			figure {
				position:relative;
				margin:auto;
				max-width:480px;
			}

			&.double_column figure {
				max-width: none;
			}
		}

		@include breakpoint($narrow) {
			figure {
				max-width: none;
			}
		}
	}

	.project_link {
	
		margin-bottom:1.6rem;
		a {
			@extend .button;

			height:8em;
			width:auto;
			position:relative;
			display: block;
			padding:1em;
			background:white;
			margin-bottom: 0;

			@include project_link(white, $charcoal, $smirnoff_silver, $charcoal);
		}

		h3 {
			margin-bottom:0;
			position:absolute;
			bottom:1em;
			left:1em;
		}

		&#nivea_link a {
			@include project_link($nivea_blue, $nivea_pink, $nivea_dark_blue, white);
		}

		&#nivea_soft_link a {
			@include project_link(white, $nivea_soft_blue, $smirnoff_dark_silver, $nivea_blue);
		}

		&#tropicana_link a {
			@include project_link($trop_orange, $trop_green, $trop_dark_orange, white);
		}

		&#disney_link a {
			@include project_link(black, $disney_dark_yellow, $dark_charcoal, $disney_red);
		}

		&#smirnoff_link a {
			@include project_link($smirnoff_silver, $smirnoff_red, $smirnoff_dark_silver, $charcoal);
		}

		&#fire_eater_link a {
			@include project_link($fire_eater_red, black, $fire_eater_dark_red, white);
		}

		&#jack_daniels_link a {
			@include project_link($jd_grey, $jd_orange, $jd_dark_grey, white);
		}


		@include breakpoint($tablet) {
			float:left;
			width:48%;
			margin-right:2%;

			&:nth-child(even) {
				margin-right: 0;
				margin-left: 2%;
			}
		}

		@include breakpoint($narrow) {
			width:100%;
			margin-right:0;

			&:nth-child(even) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		@include breakpoint($wide) {
			width:48%;
			margin-right:2%;

			&:nth-child(even) {
				margin-right: 0;
				margin-left: 2%;
			}
		}
	}

	#project_list {
		@include breakpoint($tablet) {
			@include clearfix;
		}
	}

	#side_projects,
	#contact_me,
	#about_me_link {
		margin-bottom:2em;
	}

	.contact_me_wrapper {
		@include breakpoint($narrow) {
			clear:left;
		}
	}
}
