@mixin home_page_base() {

	#intro {
		@include single-transition(all, 0.3s);
		@include speech_bubble;
		margin-left:34px;
		margin-right:0px;

		max-width:600px;
	}

	nav {
		.button, 
		button {
			@extend %large_button;
		}
	}
}