$charcoal:#383838;
$med_grey:#BEBEBE;

$blue:#4E90CC;
$med_blue:#92CBFF;
$light_blue:#BFE2FF;

$red:#FF341E;
$med_red:#FF8A9C;
$light_red:#FFE8EB;

$yellow:#EBD213;
$med_yellow:#FFF28A;
$light_yellow:#FFFCE8;

$orange:#EB9113;
$med_orange:#FFCE8A;
$light_orange:#FFF5E8;

$brown:#A35C00;
$dark_brown:#804901;

$green:#459300;
$bright_green:#78E815;
$med_green:#5FB811;