$charcoal:#383838;
$dark_charcoal:#1d1d1d;
$med_grey:#BEBEBE;

$blue:#4E90CC;
$med_blue:#92CBFF;
$light_blue:#BFE2FF;

$red:#E33D2B;
$med_red:#FF7388;
$light_red:#FFE8EB;

$yellow:#EBD213;
$med_yellow:#FFF28A;
$light_yellow:#FFFCE8;

$orange:#EB9113;
$med_orange:#FFCE8A;
$light_orange:#FFF5E8;

$brown:#A35C00;
$dark_brown:#804901;

$green:#459300;
$bright_green:#78E815;
$med_green:#5FB811;




// Project Colors

$nivea_blue:#09508f;
$nivea_dark_blue:#002d6e;
$nivea_pink:#733f87;

$trop_green:#017717;
$trop_orange:#e48102;
$trop_dark_orange:#e54000;

$smirnoff_red:#8e1025;
$smirnoff_dark_silver:#e1e1e1;
$smirnoff_silver:#eff1f0;

$disney_red:#ec1b21;
$disney_dark_red:#950e0a;
$disney_yellow:#fae427;
$disney_dark_yellow:#ffc409;
$disney_brown:#934924;
$disney_dark_brown:#6e341c;