@mixin font-size($size) {
	font-size:#{$size*0.9}px;
	font-size:#{$size/10}rem;
}

@mixin chunk($depth, $color) {
	$list:();
	@for $i from 1 through $depth {
		$list: append($list, #{$i}px #{$i}px 0px $color, $separator:comma);
	}
	@include box-shadow($list);
	margin-right:#{$depth}px;
}

@mixin project_link($primary, $secondary, $tertiary, $text) {
	@include chunk(5, $secondary);

	border-color:$secondary;
	background:$primary;

	h2, h3 {
		color:$text;
	}

	&:hover,
	&:focus {
		background:$tertiary;
	}

	&:active {
		@include box-shadow(none);
	}

	&:after {
		@include font-size(16);
		color:$text;
		bottom:1rem;
		right:0.5rem;
	}
}

@mixin speech_bubble() {
	@include box-sizing(border-box);
	@include chunk(5, $charcoal);
	background:white;
	border:3px $charcoal solid;
	padding:1em;
	position:relative;

	&:before {
		content:"";
		display:block;
		position:absolute;
		top:-20px;
		left:-3px;
		width:0;
		height:0;
		border:10px $charcoal solid;
		border-top-color:transparent;
		border-right-color:transparent;
	}

	&:after {
		content:"";
		display:block;
		position:absolute;
		top:-12px;
		left:0;
		width:0;
		height:0;
		border:7px white solid;
		border-top-color:transparent;
		border-right-color:transparent;
	}
}

@mixin speech_bubble_addendum() {
	@include speech_bubble;

	&:before {
		top:-40px;
		left:17px;
		border:5px $charcoal solid;
		border-right-width:15px;
		border-top-width:35px;
	}

	&:after {
		top:-41px;
		left:20px;
		border:5px white solid;
		border-top-width:36px;
	}
}

@mixin float_columns() {
	float:left;
	width:48%;
	margin-right:2%;

	&:nth-of-type(even) {
		margin-right: 0;
		margin-left: 2%;
	}
}