@mixin default_page_960() {

	.video_wrapper, figure {
		video, img {
			margin-bottom:2em;
		}
	}

	section {
		float:left;
		width:48%;
		margin-right:2%;

		&:nth-child(even) {
			margin-right: 0;
			margin-left: 2%;
		}

		&.double_column {
			width:100%;
			margin-left:0;
			margin-right:0;
		}
	}
}